
  <h1 class='h-36 flex items-center justify-center text-gray-50'><%= @list.name.upcase %></h1>

    <div>
      <div>
        <ul class='list-none p-0 grid grid-cols-1 md:grid-cols-2 lg:grid cols-3 gap-2'>
          <% @list.bookmarks.each do |bookmark| %>
            <li class='flex flex-col self-stretch w-80 h-96 m-auto border-2 rounded-lg shadow-xl'>
              <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: 'rounded-t-md' %>
                <div class='m-2 h-full flex flex-col flex-stretch'>
                  <div class='flex justify-between'>
                    <h5><%= bookmark.movie.title %></h5>
                    <p>Rating : <%= bookmark.movie.rating %>/10</p>
                  </div>
                  <p class='grow text-xs'><%= bookmark.movie.overview %></p>
                  <p class='text-xs font-extrabold'><%= bookmark.comment %></p>
                  <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, class: 'place-self-end p-2 no-underline border rounded-lg bg-indigo-900 text-white text-xs' %>
                </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class='w-50 flex flex-col items-center m-auto'>
          <h2>Add a bookmark</h2>
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.association :movie, prompt: 'Select a movie', input_html: { data: {controller: 'select2'}} %>
            <%= f.input :comment, placeholder: "Add your comment." %>
            <%= f.submit %>
          <% end %>
      </div>

    <%= link_to 'Back to homepage', lists_path %>
  </div>
