
  <h1 class='justify-center p-20'><%= @list.name.upcase %></h1>

    <div>
      <div>
        <ul class='list-none p-0 grid grid-cols-1 md:grid-cols-2 lg:grid cols-3 gap-2'>
          <% @list.bookmarks.each do |bookmark| %>
            <li class='border-2 rounded-lg shadow-xl'>
              <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title %>
                <div class='m-2'>
                  <div class='flex justify-between'>
                    <p><%= bookmark.movie.title %></p>
                    <p>Rating : <%= bookmark.movie.rating %>/10</p>
                  </div>
                  <p class='overflow-hidden'><%= bookmark.movie.overview %></p>
                  <div class='flex justify-between'>
                    <p><%= bookmark.comment %></p>
                    <p><%= link_to 'Delete', bookmark_path(bookmark), method: :delete, class: 'no-underline' %></p>
                  </div>
                </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class='w-50 flex flex-col items-center m-auto'>
          <h2>Add a bookmark</h2>
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.association :movie, prompt: 'Select a movie', input_html: { data: {controller: 'select2'}} %>
            <%= f.input :comment, placeholder: "Add your comment." %>
            <%= f.submit %>
          <% end %>
      </div>

    <%= link_to 'Back to homepage', lists_path %>
  </div>
