<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3'>
  <h1 class='text-center p6'><%= @list.name %></h1>

  <% @list.bookmarks.each do |bookmark| %>
  <ul class='list-none'>
    <li class='border-2 rounded-lg shadow-xl'>
      <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title %>
      <div class='m-2'>
        <div class='flex justify-between'>
          <p><%= bookmark.movie.title %></p>
          <p>Rating : <%= bookmark.movie.rating %>/10</p>
        </div>
        <p><%= bookmark.movie.overview %></p>
        <div class='flex justify-between'>
          <p><%= bookmark.comment %></p>
          <p><%= link_to 'Delete', bookmark_path(bookmark), method: :delete, class: 'no-underline' %></p>
        </div>
      </div>
    </li>
  </ul>
  <% end %>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, promot: 'Select a movie', input_html: { data: {controller: 'select2'}} %>
    <%= f.input :comment, placeholder: "Add your comment." %>
    <%= f.submit %>
  <% end %>

  <%= link_to 'Back to homepage', lists_path %>
</div>
