<h1><%= @list.name %></h1>


<% @list.bookmarks.each do |bookmark| %>
<ul>
  <li>
    <div>
      <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title %>
      <div>
        <strong><%= bookmark.movie.title %></strong>
        <span>Rating : <%= bookmark.movie.rating %>/10</span>
        <p><%= bookmark.movie.overview %></p>
        <div>
          <p><%= bookmark.comment %></p>
          <p><%= link_to 'Delete bookmark', bookmark_path(bookmark), method: :delete %></p>
        </div>
      </div>
    </div>
  </li>
</ul>
<% end %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, promot: 'Select a movie', input_html: { data: {controller: 'select2'}} %>
  <%= f.input :comment, placeholder: "Add your comment." %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back to homepage', lists_path %>
